* {
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

html {
  background: #CBCCCB;
  height: -webkit-fill-available;
}
body {
  background: #CBCCCB;
  min-height: -webkit-fill-available;
}
body > div:first-child {
  background: white;
  min-height: 100vh;
}
@media (max-width: 991.98px) {
  body.hastopnav {
    padding-top: 65px;
  }
  body.hastopnav > div:first-child {
    min-height: calc(100vh - 65px);
  }
}
@media (max-width: 991.98px) {
  body.hasbottomnav > div:first-child {
    padding-bottom: 75px;
  }
}
header,
main,
footer {
  background: #fff;
}

svg.icon--gradient * {
  fill: #00381a;
}