@media (min-width: 992px) {
  #section__menu__desktop .fixed-top {
    position: static;
  }
}
@media (max-width: 991.98px) {
  #section__menu__desktop {
    display: none;
  }
}

body#page__index, body#page__login, body#page__register {
  padding-bottom: 0;
}
body#page__index #section__menu__desktop, body#page__login #section__menu__desktop, body#page__register #section__menu__desktop {
  display: block;
}
@media (max-width: 991.98px) {
  body {
    padding-top: 65px;
    padding-bottom: 75px;
  }
}

.fixed-top {
  transition: top 0.5s;
}
.fixed-top.abovetop {
  top: -65px;
}

.fixed-bottom {
  transition: bottom 0.5s;
}
.fixed-bottom.underbottom {
  bottom: -75px;
}